.card-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    gap: 10%;
    padding: 2%;

}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5%;
    text-align: center;
    height: 100%;
    width: 100%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.custom_card {
    background-color: #37479a;
    border-radius: 10px;
    transition: transform 0.3s;

    flex-direction: column;
    align-items: center;
    padding: 15px;

    text-align: center;
    height: 30%;
    width: 100%;
    color: #fff;

}

.widget-statistic2 {
    display: flex;
}






.custom_table {

    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 2%;
    text-align: center;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
}

.card i {
    color: black;
    /* Set the icon color to black */
    font-size: 300%;
    /* Adjust the icon size as desired */
}

.card h3 {

    font-size: 125%;
    /* Adjust the icon size as desired */
}

.card:hover {
    transform: scale(1.05);
}

.parent-div {
    height: 100%;
}

.custom_row {
    display: flex;
    /* Remove height constraint to allow for dynamic expansion */
    /* height: 100vh; */
    flex-wrap: wrap;
}

.custom_column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Remove height constraint to allow for dynamic expansion */
    /* height: 100%; */
}

.chart_card {
    border-radius: 8px;
    height: 80vh;


}


.custom_table_card {
    height: 50vh;
    border-radius: 8px;
    overflow: auto;
    background-color: white;
    padding: 4%;
}

.custom_table_card_6 {

    border-radius: 8px;
    height: 80vh;
    background-color: white;
    padding: 4%;
}

.custom_table3 {
    color: #333;
    height: 90%;
    /* Set your desired fixed height */
    overflow-y: auto;
}

.custom_table2 {
    color: #333;
    height: 100%;
    /* Set your desired fixed height */
    overflow-y: auto;
}

.employee-photo,
.section-photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.employee-info,
.section-info {
    padding: 10px;
}




.custom-white-background {
    /* background-color: white; */
    color: #333;
}



.custom_table_parent {
    color: #333;
}

/* Hide the default scroll bars */
.custom_table_card {
    overflow: hidden;
}

/* Show scroll bars on hover */
.custom_table_card:hover {
    overflow: auto;
}

.card-content2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    height: 50vh;
    position: relative;

    /* Ensure relative positioning for absolute child elements */
}

.ribbon {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007bff;
    /* Ribbon background color */
    color: #fff;
    /* Ribbon text color */
    padding: 5px 0px 5px 10px;
    /* Adjust padding as needed */
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: 93% 0;
}

.ribbon span {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
}



 .main-sidebar,
.skin-blue .main-sidebar,
.skin-green .main-sidebar,
.skin-purple .main-sidebar,
.skin-red .main-sidebar,
.skin-yellow .main-sidebar {
    background: #12142e !important;

    border-right: 0px !important;
}

.skin-black-light .main-sidebar, .skin-blue-light .main-sidebar, .skin-green-light .main-sidebar, .skin-purple-light .main-sidebar, .skin-red-light .main-sidebar, .skin-yellow-light .main-sidebar {
    background: #12142e !important;

    border-right: 0px !important;
}


.main-header .logo,
 .main-header .logo {
    background: #fbbc16 !important;
    color:#12142e !important;
}

.main-footer {
    background: #fbbc16 !important;
    
    padding: 10px;
}


/* .content-header{
    background: #b4b4b4 url('/img/emdadat-bg-img.jpg') !important;
} */


.sidebar a {
    color: #b8c7ce !important;
}




.skin-blue-light .sidebar-menu>li.active>a{
    background: #1d1f33!important;
}
.skin-blue-light .sidebar-menu>li:hover>a{
    background: #1d1f33!important;
}