.table-td-width-100px {
    width: 100px !important;
}

.table-td-width-80px {
    width: 80px !important;
}

.table-td-width-60px {
    width: 60px !important;
}

.table-td-width-50px {
    width: 50px !important;
}

.table-td-width-40px {
    width: 40px !important;
}

.table-td-width-25px {
    width: 25px !important;
}
.table-td-width-200px {
    width: 200px !important;
}
.table-td-width-300px {
    width: 200px !important;
}
.table-td-width-400px {
    width: 200px !important;
}
.table-td-width-custom {
    width: 500px !important;
}


/* .custom_header_icon {
    background-color: #fabc14;
    border-radius: 8%;
}



.skin-black .main-header .navbar .custom_header_icon {
    color: #12142e !important;
} */


.table-container {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}

.table-responsive2 {
    overflow-x: hidden !important;
}