.table-td-width-100px {
    width: 100px !important;
}

.table-td-width-80px {
    width: 80px !important;
}

.table-td-width-60px {
    width: 60px !important;
}

.table-td-width-50px {
    width: 50px !important;
}
.table-td-width-40px {
    width: 40px !important;
}
.table-td-width-25px {
    width: 25px !important;
}